# Common aliases
alias cat="bat"
alias diff="colordiff"
alias dir="ls -lA"
alias grep="grep --color=always"
alias help="tldr"
alias less="less -R"
alias ls="ls -Fh --color"
alias ll="ls -l"
alias ping="prettyping --nolegend"
alias preview="fzf --preview 'bat --color \"always\" {}'"
alias top="sudo htop"

# cd shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
